.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: #333842;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 60px;
  overflow-x: hidden;
}

.sidebar-items {
  margin-top: 80px;
}

.sidebar li {
  list-style-type: none;
  margin: 5px 0px 15px 10px;
}

.nav-btn {
  border: none;
  background-color: #333842;
  font-size:40px;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px black;
  color: whitesmoke;
  padding: 5px 10px;
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-home {
  margin: -70px 0px 0px 55px;
  font-family: "Praise";
  font-size: 100px;
  color: black;
  text-shadow: 3px 3px rgb(187, 8, 8);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  align-content: center;
}

.welcome {
  padding-left: 28%;
  margin-top: 70px;
  color: whitesmoke;
  font-family: 'League Gothic', sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px black; 
}

.welcome h1 {
  font-size: 60px;
}

.welcome h1 p {
  margin-top: 15px;
}

#self-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: 25px;
}

.code-icons {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.code-icons img {
  margin: -10px 5px 0px 4px;
  width: 60px;
  height: 80px;
}

.info-header {
  color: whitesmoke;
  margin: 0px 0px 20px 190px;
  font-family: 'League Gothic', sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px black;
}

.jt-section {
  margin: 10px 0px 0px 170px;
  width: 650px;
}

.about-tab {
  color: red;
}

#history {
  font-family: 'Roboto', sans-serif;
}

.history-pic {
  margin: 5px 0px 15px 215px;
}

#coding-books {
  max-width: 400px;
  max-height: 250px;
  margin: 5px 0px 20px 120px;
}

.about-card {
  max-height: 440px;
  max-width: 700px;
  overflow-y: auto;
  margin: auto;
  margin-top: -13px;
  background-color: #1b1d22;
}

.about-card p {
  font-size: 20px;
}

#about-title {
  font-size: 30px;
  font-weight: bolder;
}

.interest-slides {
  margin-top: -15px;
  max-height: 450px;
  text-shadow: 1px 1px black;
}

.slide-img-container {
  width: 500px;
  height: 450px;
  margin: auto;
}

.slide-img-container img {
  width: 490px;
  height: 440px;
}

.carousel-inner > .carousel-item > img {
  margin: 0 auto;
}

.project-card {
  margin-bottom: 45px;
}

.project-img {
  margin: 8px 0px 11px 3px;
  width: 560px;
  height: 300px;
  align-self: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.project-link {
  margin-bottom: 8px;
}

.project-link:hover {
  cursor: pointer;
  background-color: darkgrey;
  color: blue;
}

.cv-container {
  width: 700px;
  height: auto;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 3%;
  background-color: whitesmoke;
}

.section-title {
  text-align: center;
  border-bottom: 2px solid black;
}

#skills-list {
  display: grid;
  grid-template-columns: 240px 240px;
  margin-left: 130px;
}

@media (max-width: 640px) {
  .sidebar {
    width: 100%;
    height: 110px;
    border-right: none;
    overflow-y: hidden;
  }

  .sidebar-items {
    margin: -100px 0px 0px 95px;
  }

  .sidebar li {
    display: inline;
    margin: 0px 5px 0px 0px;
  }

  .nav-btn {
    font-size: 27px;
  }

  .nav-home {
    margin: -90px 0px 0px 5px;
    font-size: 95px;
  }

  .main {
    padding-left: none;
  }

  .welcome {
    padding: none;
    margin: 155px 0px 0px -55px;
    width: 100%;
  }

  .code-icons img{
    width: 10%;
    height: 15%;
  }

  .jt-section {
    margin: 135px 0px 0px -50px;
    width: 90%;
    height: auto;
  }

  .info-header {
    margin: auto;
  }

  ul.mb-3 {
    width: 350px;
  }

  .about-card {
    max-height: 650px;
    max-width: 350px;
  }

  .history-pic {
    margin: auto;
  }

  #coding-books {
    width: 300px;
    height: 150px;
    margin: auto;
  }

  .carousel {
    height: 650px;
    width: 350px;
  }

  .slide-img-container {
    max-width: 350px;
  }

  .project-card {
    margin-left: 0px;
    width: 350px;
  }

  .project-img {
    max-width: 330px;
    max-height: 200px;
  }

  .cv-container {
    margin: 125px 0px 100px -72px;
    width: 390px;
  }

  #skills-list {
    grid-template-columns: 150px 240px;
    margin-left: 25px;
  }

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
